.adds{background: url(http://placehold.it/200x200) no-repeat;height: 200px; margin-bottom: 10px;}
/*1930*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.428571429;
  vertical-align: middle;
  background: #54a4ca ;
  color: #fdfdfd;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-pass .form-control,
.form-user .form-control {
  padding: 0 0 0 30px;
}

#idPass.form-control { background: #54a4ca url("../img/locker.png") no-repeat 5px 5px;}
#idUser.form-control { background: #54a4ca url("../img/user.png") no-repeat 5px 5px;}
#idSearch { background: #54a4ca url("../img/lupa.png") no-repeat 95% center;}
#idSearch {height: 18px;}
#idSearch.form-control {
    padding: 0 10px;
}
#menu.navbar-collapse{padding:0;}
#yw0{clear:both;}
#yw0_button{display:block;}
#RegisterForm_captcha{position: absolute; top: 5px;}

.login{margin-bottom: 0;}


.blue{background: #54a4ca;}
.buscador{background: #54a4ca url("../img/lupa.png") no-repeat 5px 5px;}
.captcha {
    background: white; 
    border:2px solid #54a4ca;
    float: right;
    left: 125px;
    position: absolute;
    top: 20%;
}
.captcha_wrapper{position: relative;}
.contenido{margin-top: 15px;}
.initialism li a{color: black;}
.movil{font-size: 8.5pt;}
.publica{height: inherit;}
.publica a{color: white;}
.publica a:hover{text-decoration: none;}
.btn-login{ 
  background: url("../img/arrow-login.png") no-repeat;
  border: none;
  height: 30px;
  width: 30px;
}


.footer > li > a  {
  color: #333333;
  font-size: 8pt;
}
/*1956*/
.form-control:-moz-placeholder {
  color: white;
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.login{position:absolute;bottom: 0;right: 0;}
.login .form-group{margin-bottom: 0;}
header{position:relative;}

/*4097*/
.nav > li {
  border:  1px solid #c5c5c5;
}
/*4704*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/*4102*/
.nav > li > a {
  color: #333333;
  padding: 5px 10px;
}
/*4108*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.wrapper{margin-top: 20px;}

@media (max-width: 990px) {
  .login .form-group{padding-top: 10px; }
  .publica {
      height: 40px;
      margin-top: 20px;
      padding: 10px;
  }
}

@media (max-width: 768px) {
  .login .form-group{padding-top: 10px; }
  .publica {
      height: 40px;
      margin-top: 20px;
      padding: 10px;
  }
  .logo{height: 200px;}
}
