.adds{background: url(http://placehold.it/200x200) no-repeat;height: 200px; margin-bottom: 10px;}
/*1930*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 0 0 40px;
  font-size: 14px;
  line-height: 1.428571429;
  vertical-align: middle;
  background: #54a4ca ;
  color: #fdfdfd;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#idPass.form-control { background: #54a4ca url("../img/locker.png") no-repeat 5px 5px;}
#idUser.form-control { background: #54a4ca url("../img/user.png") no-repeat 5px 5px;}
#idSearch { background: #54a4ca url("../img/lupa.png") no-repeat 95% center;}
#idSearch {height: 18px;}
#menu.navbar-collapse{padding:0;}




.login{margin-bottom: 0;}


.blue{background: #54a4ca;}
.buscador{background: #54a4ca url("../img/lupa.png") no-repeat 5px 5px;}
.contenido{margin-top: 15px;}
.movil{font-size: 8.5pt;}
.publica{height: inherit;}
.publica a{color: white;}
.publica a:hover{text-decoration: none;}


.footer > li > a  {
  color: #333333;
  font-size: 8pt;
}
/*1956*/
.form-control:-moz-placeholder {
  color: white;
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.login{position:absolute;bottom: 0;right: 0;}
.login .form-group{margin-bottom: 0;}
header{position:relative;}

/*4097*/
.nav > li {
  border:  1px solid #c5c5c5;
}
/*4704*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/*4102*/
.nav > li > a {
  color: #333333;
  padding: 5px 10px;
}
/*4108*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.wrapper{margin-top: 20px;}

@media (max-width: 980px) {
  .login .form-group{padding-top: 10px; }
  .publica {
      height: 40px;
      margin-top: 20px;
      padding: 10px;
  }
}
