h5{   
  background: #54a4ca;    
  padding: 5px auto;   
  color: white;   
  line-height: 2; 
  margin: auto -15px;
  padding: 5px 0px 5px 15px;

}
h5 a{color: white; text-decoration: none; display: block; width: 100%;}
h5 a:hover{color: white; text-decoration: none;}

label{font-size: 10pt;}
header{height: 90px;}
hr{height: 5px; background-color: #54a4ca;}
th{background: #e0eff5 no-repeat;}
.table > tbody > tr > th,
.table > tbody > tr > td{
	border: 0;
	border-bottom: 1px dotted #DDD;
}

.thumbnail > img, .thumbnail a > img{
	width: 100%;
	height: 150px;
}

.ads{
	padding: 0;	
}

.ad{
	background: url(http://placehold.it/160x200) no-repeat;
	height: 200px;
	width: 160px; 
	margin-bottom: 10px;
	padding: 0;
	display: inline-block;
}
.big-blue{font-weight: bold; font-family: "Arial Black", Gadget, sans-serif; font-size: 18pt; color: #54A4CA;}
.bottom {position: relative; bottom: 0;}
.bottom li{ padding-right: 25px;}
.anuncio{position: relative; bottom: -13px;}
.anuncio li{padding-right: 7px;}
.detalle_elem{margin-top: 15px;}
/*1930*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.428571429;
  vertical-align: middle;
  background: #54a4ca ;
  color: #fdfdfd;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-pass .form-control,
.form-user .form-control {
  padding: 0 0 0 30px;
}

#idPass.form-control { background: #54a4ca url("../img/locker.png") no-repeat 5px 5px;}
#idUser.form-control { background: #54a4ca url("../img/user.png") no-repeat 5px 5px;}
#idSearch { background: #54a4ca url("../img/lupa.png") no-repeat 95% center;}
#idSearch {height: 18px;}
#idSearch.form-control {
    padding: 0 10px;
}
#menu.navbar-collapse{padding:0;}
#yw0{clear:both;}
#yw0_button{display:block;}
#RegisterForm_captcha{position: absolute; top: 5px;}

.login{margin-bottom: 0;}

.bigbottom{margin-bottom: 80px;}
.blue{background: #54a4ca;}
.blue-text{color: #54a4ca;}
.buscador{background: #54a4ca url("../img/lupa.png") no-repeat 5px 5px;}
.button-blue, .button input{
  background: #54a4ca; 
  height: 35px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  height: 35px;
  padding: 5px 15px;
  border-radius: 3px;
  box-shadow: 0 -3px 1px rgba(0, 0, 0, 0.45) inset, 0 2px 2px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.button-blue:hover{text-decoration: none; color: white;}

.button-confirm{width: 165px; height: 32px; padding: 5px 15px;}


.button-register{position: absolute; right: 15px; top: 20px; margin-bottom: 20px;}
.buycredits{
          background: url("../img/buycreditos-big.png") no-repeat 0 0; 
}
a .buy_now{
  color: white;
  width: 70px; 
  height: 20px; 
  background: #555555; 
  font-size: 9pt; 
  border-radius: 3px; 
  padding-top: 2px;

}
  a:hover .buy_now{ background: #2a80a4; color: white;}
.captcha {
    background: white; 
    border:2px solid #54a4ca;
    float: right;
    left: 125px;
    position: absolute;
    top: 20%;
}
.captcha_wrapper{position: relative;}
.carruflecha{margin-top: 6%;}
.contenido{margin-top: 15px;}
.contactar{ background: url("../img/sobre.png") no-repeat;}
.creditos{padding-left: 60px;
          background: url("../img/creditos-big.png") no-repeat 0 -6px; 
}
.select-list{ padding: 0; }
.creditos-lista a .credit_desc{background: #ececec; color: #363636; font-size: 18pt; padding-bottom: 15px;  margin-bottom: 15px;  }
.creditos-lista:last-child a .credit_desc{background: url("../img/lazo.png") no-repeat 10px 10px #ececec;}
.creditos-lista a:hover .credit_desc{background-color: #e0eff5; color: #2a80a4;}


.credit_euros{font-size: 30pt;}
.creditos-lista a .credit_name{background: #555555; color: white; padding: 5px;}
.creditos-lista a:hover .credit_name{background: #54a4ca; color: white;}


.creditos-lista a .credit_num{font-size: 25pt; font-family: arial; background: #363636; color: white;}

.creditos-lista a:hover .credit_num{background: #2a80a4; color: white;}

.credit_phrase{font-size: 18pt;}
.credit_wrapper{text-transform: uppercase;}
.credit_wrapper:hover{ box-shadow: 0px 0px 5px 5px #c4c4ce;}
.detalle{min-height: 280px}
.detalle a{color: black; text-decoration: none;}
.description{min-height: 60px;}
.editar{ background: url("../img/lapiz.png") no-repeat;}
.eliminar{ background: url("../img/papelera.png") no-repeat;}
.filtros{ border-bottom: 4px solid #54a4ca; font-weight: bold; margin:23px auto; padding: 7px; color: #54a4ca;}
.imagen img{width: 100px;}
.initialism li a{color: black;}
.item{margin-bottom: 15px; padding: 15px 0; }
.blueline{ padding: 15px 0; border-top: 4px solid #54A4CA; }

.logout{background: url("../img/desconectar-big.png") no-repeat 0 -1px;}
.logout a, .misanuncios a, .editar a, .eliminar a, .contactar a{padding-left: 25px;}
.misanuncios{background: url("../img/llave-big.png") no-repeat 0 -1px;}
.misanuncios, .logout, .buycredits, .creditos {width: 55px;height: 60px;padding: 0; margin-left: 10px;}
.menuitem.col-xs-1 > a { padding: 35px 30px;display: block; }
.col-xs-3.creditos.blue-text { line-height: 120px; text-align: center; }
.movil{font-size: 8.5pt;}
.porque-huaxin{margin-bottom: 15px;}
.precio{font-weight: bold; font-family: "Arial Black", Gadget, sans-serif; font-size: 20pt; color: #54A4CA;}
.publica a, .button-confirm{height: inherit;color: white;}
.publica a:hover, .button-confirm:hover{text-decoration: none;}
.bigbutton {
    display: block;
    margin: 0 -15px;
    width: 120%;
}
.resumen-compra{margin-bottom: 15px;}
.thumbnail{position: relative;}
.texto-anuncio{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3); position: absolute; bottom: 4px; height: 48px; width: 95%; text-transform: uppercase; padding: 3px; overflow: hidden; color: white;}

.btn-login{ 
  background: url("../img/arrow-login.png") no-repeat;
  border: none;
  height: 30px;
  width: 30px;
}


.footer > li > a  {
  color: #333333;
  font-size: 8pt;
}
/*1956*/
.form-control:-moz-placeholder {
  color: white;
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-webkit-input-placeholder {
  color: white;
}
.login{position:absolute;bottom: 0;right: 0; height: 80px;}
.login .form-group{margin-bottom: 0;}
header{position:relative; margin-top: 20px;}

.margenh5{margin-bottom: 20px;}
/*4097*/
.nav > li {
  border:  1px solid #54A4CA;
}
/*4704*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

/*4102*/
.nav > li > a {
  color: #333333;
  padding: 5px 10px;
}
/*4108*/
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #E0EFF5;
}
.wrapper{margin-top: 20px;}


@media (max-width: 990px) {
  .login .form-group{padding-top: 10px; }
   #idSearch,
  .publica {
      height: 40px;
      margin-top: 20px;
      padding: 10px;
  }
  .numanuncios,
  .quebuscas{display: none;}

  .ad{ margin: 5px; }
}

@media (max-width: 768px) {
  .carousel{display: none;}
  .logo{height: 150px;}
  .button-register{position: relative;}
  .login{position: static;}
  .loginmail{display: none;}
  .porque-huaxin{display: none;}


}

@media (max-width: 590px){

  header{height: 285px;}

} 
.newsave{margin-top: 100px;}

/** tabs **/
.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
  overflow: hidden;
}
.tab {
  float: left;

}
.tab > label {
  background: #e0eff5; 
  padding: 10px; 
  border: 1px solid #54a4ca; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  cursor: pointer;

}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 41px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #54a4ca;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: url("./start/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50% #79C9EC;
    border: 1px solid #448DAE;
    color: #026890;
    font-weight: normal;
}

.bs-callout-success {
    background-color: #F2F9F2;
    border-color: #4FEF71;
}

.form-control[readonly]
{
    background-color: #54A4CA;
    cursor: not-allowed;
}

.gray {
    color: #808080;
}